
 {{tieneProd}}
 
 
 <div class="container">
     <form action="/api/productos/guardar" method="post">
    <h2>Ingreso de productos</h2>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title producto</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="Title">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Price producto</label>
        <input type="text" class="form-control" name="price" id="price" placeholder="5000000">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Thumbnail producto</label>
        <input type="text" class="form-control" name="thumbnail" id="thumbnail" placeholder="Thumbnail">
    </div>
    <button type="submit" class="btn btn-primary">Enviar Producto</button>
    </form>
 </div>
